{% extends "app/base.html" %}

{% block title %}Portfolio Create{% endblock %}

{% block content %}
	<div class="w-50 mx-auto p-3 bg-primary-subtle border border-primary-subtle rounded-3">
		<h2 class="text-center">Create New Portfolio</h2>
		<form method="post" action="">
			{% csrf_token %}
			<div class="d-grid col-6 mx-auto gap-1">
				<input type="textbox" name="portfolio_name" placeholder="Portfolio Name">
				<input class="btn btn-success" type="submit" value="Create">
			</div>
		</form>
	</div>
{% endblock %}