{% extends 'base.html' %}

{% block content %}




<div class="container mt-5">
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}
        {% endfor %}
        </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Create an account</button>
  </form>
</div>


{% endblock %}
